.container {
    border: 3px solid black;
}
.col-md-4 {
    border: 1px solid black;
}

.col-md-8 {
    border: 1px solid black;
}
.square {
    height: 50px;
    width: 50px;
    background-color: black;
    margin: 1px;
}