.container {
    border: 3px solid black;
    text-align: center;
    background-image: url('../assets/dungeon-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
    font-family: 'VT323', monospace;
    
}
.square {
    height: 50px;
    width: 50px;
    background-color: #3b3939;
    margin: 1px;
}

.col-md-2 {
    text-align: left;
    color: beige;
    font-family: 'VT323', monospace;
}
.map {
    text-align: right;
    bottom: 50px;
    
}

.game-column {
    display: inline-grid;
}
#player {
    background-image: url('../assets/player-2.png');
    background-repeat: no-repeat;
    
}

.start-game {
    text-align: center;
}

.kobold {
    background-image: url('../assets/kobold-icon.png'); 
   
}
.chest {
    background-image: url('../assets/chest.png');
    background-repeat: no-repeat;
}