.container {
    border: 3px solid black;
    text-align: center;
}
.square {
    height: 50px;
    width: 50px;
    background-color: #3b3939;
    margin: 1px;
}

.col-md-2 {
    text-align: left;
}
.map {
    text-align: right;
    bottom: 50px;
    
}

.game-column {
    display: inline-grid;
}
#player {
    background-color: blue;
    
}

.start-game {
    text-align: center;
}

.kobold {
    background-image: url('../assets/kobold-icon.png'); 
   
}

